*.iso
*.kernel

iso/boot/grub/
sysroot

# .vscode/ settings
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
.Test/

# debug files
*.log

# kernel build files
*.d
*.kernel
*.o

# libc build files
*.a
*.d
*.o
