KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

# Multiboot version selection (1 or 2)
MULTIBOOT_VERSION?=1

ifeq ($(MULTIBOOT_VERSION),2)
BOOT_OBJECT=$(ARCHDIR)/boot/boot2.o
KERNEL_ARCH_CPPFLAGS+=-DMULTIBOOT_VERSION=2
else
BOOT_OBJECT=$(ARCHDIR)/boot/boot.o
KERNEL_ARCH_CPPFLAGS+=-DMULTIBOOT_VERSION=1
endif

# Kernel mode selection:
#   REALTIME_MODE=1  -> client VR build: Free-List PMM (O(1) deterministic)
#   REALTIME_MODE=0  -> server build:    Buddy Allocator PMM (to be implemented)
REALTIME_MODE?=1

ifeq ($(REALTIME_MODE),1)
KERNEL_ARCH_CPPFLAGS+=-DLPL_KERNEL_REAL_TIME_MODE
endif

KERNEL_ARCH_OBJS=\
$(BOOT_OBJECT) \
$(ARCHDIR)/boot/multiboot_info_helper.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/tss.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/gdt_load.o \
$(ARCHDIR)/cpu/tss_load.o \
$(ARCHDIR)/cpu/idt_load.o \
$(ARCHDIR)/cpu/isr.o \
$(ARCHDIR)/cpu/isr_stubs.o \
$(ARCHDIR)/cpu/clock.o \
$(ARCHDIR)/cpu/irq.o \
$(ARCHDIR)/cpu/exception.o \
$(ARCHDIR)/cpu/gdt_helper.o \
$(ARCHDIR)/cpu/paging.o \
$(ARCHDIR)/cpu/paging_asm.o \
$(ARCHDIR)/cpu/pmm.o \
$(ARCHDIR)/cpu/pic.o \
$(ARCHDIR)/cpu/pit.o \
$(ARCHDIR)/drivers/tty.o \
$(ARCHDIR)/drivers/serial.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/drivers/rtc.o \
$(ARCHDIR)/drivers/framebuffer.o \
$(ARCHDIR)/graphics/plasma.o \
$(ARCHDIR)/lib/asmutils.o \
