KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

# Multiboot version selection (1 or 2)
MULTIBOOT_VERSION?=1

ifeq ($(MULTIBOOT_VERSION),2)
BOOT_OBJECT=$(ARCHDIR)/boot/boot2.o
KERNEL_ARCH_CPPFLAGS+=-DMULTIBOOT_VERSION=2
else
BOOT_OBJECT=$(ARCHDIR)/boot/boot.o
KERNEL_ARCH_CPPFLAGS+=-DMULTIBOOT_VERSION=1
endif

KERNEL_ARCH_OBJS=\
$(BOOT_OBJECT) \
$(ARCHDIR)/boot/multiboot_info_helper.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/gdt_load.o \
$(ARCHDIR)/cpu/gdt_helper.o \
$(ARCHDIR)/drivers/tty.o \
$(ARCHDIR)/drivers/serial.o \
$(ARCHDIR)/lib/asmutils.o \
